@import url(http://fonts.googleapis.com/css?family=Abel|Ubuntu);

body {
	font-family: Helvetica;
	font-size:12px;
	margin:0;
}

main h1, main h3 {
	text-shadow: 2px 1px 3px #ccc;
	color: #252525;
	font-family: ubuntu;	
	margin: 0 0 8px 0;
}

main h1 {
	font-size:34px;
}

main h3 {
	font-size: 1.25rem;
}

main {
	overflow:hidden;
	width:1200px;
	margin: 0 auto;
	color: #848484;
	line-height:22px;
}

main article {
	float:left;
	width:270px;
	margin-bottom:40px;
}

main article+article {
	margin-left:10px;	
}

main article img {
	margin-bottom: 16px;
	margin-bottom: 1rem;
	padding: 8px;
	background-color: #f6f6f6;
	border: 1px solid #d2d2d2;
	max-width:90%;
}

main aside {
	margin-bottom: 40px;
	text-align:center;
}

a {
	text-decoration: none;
}

a:hover {
	color: #d27e0e;
}

header {
	border-top: 5px solid #3c3f41;
	background-color:#f6f6f6;
}

header nav {
	float:right;
	font-family:abel;
	font-size:16px;
	padding-top:20px;
}

header nav a {
	color:#555;
	padding:18px 10px 18px 10px;
}

header nav ul {
	list-style: none;
	padding:0;
}

header nav ul li {
	float:left;
	padding-right:10px;
}

.header-contents {
	width:1200px;
	margin: 0 auto;
	height: 120px;
}

#social {
	background: #393c3f url('../img/socialbar-bg.png') repeat 0 0;
	height:40px;
}

#social ul {
	float:right;
}

#social li {
	display:inline;
}

#masthead {
	background-color:#343842;
	position:relative;
	height:290px;
	overflow:hidden;
	min-width:1200px;
}
#masthead img {
	display:block;
	margin: 0 auto;
}

#curve {
	position:absolute;
	bottom:0px;
	background: transparent;
	width:100%;
}

footer {
	background-color:#272B30;
	box-shadow: #ccc 0 -3px 3px 0;
	overflow:hidden;
	color: #959798;
	line-height:19px;
}

.footer-contents {
	width:1200px;
	margin: 0 auto;
	overflow:hidden;
}

footer a {
	color: #fff;
}

footer h3 {
	font-family: ubuntu;
	color: #ced4da;
	font-size:16px;
	text-shadow: none;
}

footer ul {
	list-style:none;
	padding-left: 0;
}

footer li {
	border-bottom: solid 1px #4c4e52;
	padding: 5px 0 5px 0;
}

footer section {
	float:left;
	width: 270px;
	margin-bottom:30px;
}

footer section+section {
	margin-left:20px;
}

footer small {
	display:block;
	text-align:center;
	background-color:#161718;
	font-size:11px;
	padding:8px 0 8px 0;
	font-family:verdana;
}

footer small a {
	color:#c4cacf !important;	
}