<configuration>
    <system.web>
        <customErrors mode="RemoteOnly"/>
    </system.web>

	<system.webServer>
	    <rewrite>
	        <rules>
	            <rule name="FeedBurnerPage">
	                <match url="default.aspx" />
	                <conditions>
	                    <add input="{HTTP_USER_AGENT}" pattern="FeedBurner" negate="true" />
	                </conditions>
	                <action type="Redirect" url="http://feeds.feedburner.com/MicrosoftDownloadCenter" />
	            </rule>
	            <rule name="FeedBurnerRssRoot">
	                <match url="^$" />
	                <conditions>
	                    <add input="{HTTP_USER_AGENT}" pattern="FeedBurner" negate="true" />
	                </conditions>
	                <action type="Redirect" url="http://feeds.feedburner.com/MicrosoftDownloadCenter" />
	            </rule>
	        </rules>
	    </rewrite>
    </system.webServer>
</configuration>
